<% include formatting/header.ejs%>
<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Steam ID</th><th>Player Name</th><th>Total Wins</th><th>Total Losses</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/players/?sID=<%= rs[i].sID %>"> <%= rs[i].steamID %></td></a><td><%= rs[i].pName %></td>
            <td><%= rs[i].totalWins %></td><td><%= rs[i].totalLosses %></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No players are entered into the Player database table.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/players/create">Create New Player</a>
</div>
<% include formatting/footer.ejs%>